{% extends 'base.html' %}

{% block content %}
<style>
    #map { height: 512px; }
</style>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.1/dist/leaflet.css"
   integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14="
   crossorigin=""/>
   <!-- Ces deux balises link sont à insérer entre les deux balises existantes -->
<link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
<link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />
 
    <!-- Make sure you put this AFTER Leaflet's CSS -->
 <script src="https://unpkg.com/leaflet@1.9.1/dist/leaflet.js"
   integrity="sha256-NDI0K41gVbWqfkkaHj15IzU7PtMoelkzyKp8TOaFQ3s="
   crossorigin=""></script>
   <!-- Ces deux balises script sont à insérer entre les deux balises existantes -->
<script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
<script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
    <h1>{% block title %} Votre trajet en :  {{ vehicules }}{% endblock %}</h1>
    <h2> Durée du trajet : {{ duree_trajet }}</h2>
    <!--      <p>Tous les waypoints : {{ all_waypoints }}</p>
    <p>Centrage de map : {{ map_center }}</p>
    <p> Point A : {{ geocode_zipa  }}</p>
    <p> Point B : {{ geocode_zipb  }}</p>-->
    <div id="map">
	    <!-- Ici s'affichera la carte -->
	</div>

    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action active">
          Liste des arrêts pour recharger
        </a>
        {% for addresswaypoints in all_addresswaypoints %}
        <a href="#" class="list-group-item list-group-item-action disabled">
            {{addresswaypoints}}
        </a>
        {% endfor %}
        <a href="#" class="list-group-item list-group-item-action active">
          </a>
      </div>
      <a href="https://elec.symbae.eu"><button type="button" class="btn btn-danger btn-sm">Retour</button></a>

    <!--  <iframe style='border:none' width='100%' height='100%'  src= {{ direction_trajet }} </iframe> -->



        <!-- Fichiers Javascript -->
        <script type="text/javascript">

            window.onload = function(){
                // On initialise la carte sur les coordonnées GPS de Paris
                let macarte = L.map('map').setView([{{ map_center  }}], 6)

                // On charge les tuiles depuis un serveur au choix, ici OpenStreetMap France
                L.tileLayer('https://{s}.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png', {
                    attribution: 'données © <a href="//osm.org/copyright">OpenStreetMap</a>/ODbL - rendu <a href="//openstreetmap.fr">OSM France</a>',
                    minZoom: 1,
                    maxZoom: 20
                }).addTo(macarte)

                L.Routing.control({
                    waypoints: [
                        L.latLng({{ geocode_zipa }}),{{ all_waypoints }}L.latLng({{ geocode_zipb }}),
                    ],
                    routeWhileDragging: true
                }).addTo(macarte)
            }
        </script>
{% endblock %}